.main-footer {
  @apply absolute bottom-0 flex items-center justify-between w-full;
  margin: 0 auto;
  padding: 1.0875rem 1.45rem;

  h4 {
    @apply text-xs m-0;

    span {
      @apply font-medium opacity-75;
    }
  }

  ul {
    @apply flex flex-row items-center justify-center m-0;

    li {
      @apply mx-3 mb-0 opacity-75 font-bold cursor-pointer;

      a {
        @apply flex flex-col items-center justify-between cursor-pointer;

        svg {
          transition: stroke 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

          &:hover {
            //stroke: $primary;
            -webkit-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}